<section>
  <h2 class="texto-titulo">
    Minhas leituras
  </h2>
  <span class="linha-destaque linha-destaque--grande"></span>
  <div class="generos-resumo">
    @for(genero of generos; track genero.id){
      <button class="btn-genero" [class.ativo]="isGeneroVisible(genero.id)" (click)="toggleGeneroVisibility(genero.id)" [ngClass]="genero.id">
        <span class="nome-genero">{{ genero.value }}</span>
        <span class="contador-livros">({{ genero.livros.length }})</span>
      </button>
    }
  </div>
  <div class="controles-generos">
    <button class="btn-controle btn-expandir" (click)="mostrarTodos()">Mostrar Todos</button>
    <button class="btn-controle btn-colapsar" (click)="ocultarTodos()">Ocultar Todos</button>
  </div>
</section>

@for(genero of generos; track genero.id){
  @if(isGeneroVisible(genero.id)){
    <app-genero-literario [genero]="genero"></app-genero-literario>
  }
}

